:root {
    --dark-blue: #2C3254;
    --royal-blue: #0597F2;
    --light-blue: #72DCF7;
    --red: #F66783;
    --white: #F5FFFF;
    --green: #0FBFBF;
    --light-green: #32D9C8;
    --gray: #6E7E99;
}